<table class="table">
    <tbody>
        <tr>
            <th>Country Name</th>
            <td>
                <b>Zambia</b>
            </td>
        </tr>
        <tr>
            <th>Active</th>
            <td>
                <b>False</b>
            </td>
        </tr>


        <tr>
            <th>Date of Creation</th>
            <td scope="row">
                <b>2022-04-28T11:45:38.732</b>
            </td>
        </tr>

    </tbody>
</table>

<!-- {"id":1,"active":false,"dateCreated":"2022-04-28T11:45:38.732","name":"Zambia"}} -->