<h1>Hi {{currentUser.firstName}}!</h1>

<h3>All registered users:</h3>
<p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Area</th>
            <th scope="col">Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                {{ user.name }}
            </td>
            <td>({{user.firstName}}</td>
            <td>{{user.lastName}}</td>
        </tr>
    </tbody>
</table>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}}) - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>